//===== Colors =====//
$theme-color: #3F3732;
$body-color: #000000;
$heading-color: #3F3732;
$border-color: #3F3732;
$white: #fff;

$gradient-color-light: #FFFEF3;
$gradient-color-dark: #3F3732;

$breadcrumbs-color: $gradient-color-dark;

$slick-hover-color: $gradient-color-dark;

$slider-light-color-heading: $gradient-color-light;
$slider-light-color-description: $gradient-color-light;

/*===============================
    Font Family
=================================*/
$body-font: 'Silka', sans-serif;
$heading-font: 'Silka', sans-serif;

/*===============================
    Color Variation
=================================*/
$color-1:  $theme-color;
$color-2:  #f4769a;
$color-3:  #2f21b3;
$color-4:  #8956e2;
$colorList: $color-1, $color-2 ,$color-3 ,$color-4;

//===== Line Height =====//
$body-line-height: 1.714286;
//==== Font size =====//
$body-font-size: 14px;
$h1: 50px;
$h2: 40px;
$h3: 24px;
$h4: 20px;
$h5: 18px;
$h6: 16px;

//===== Social Colors =====//
$facebook : #3B5998;
$twitter : #00ACEE;
$google-plus : #DD4B39;
$pinterest : #C8232C;
$linkedin : #0E76A8;
$flickr : #FF0084;
$google : #dd4b39;
$youtube : #cd201f;




// Layouts
$laptop-device: 'only screen and (min-width: 1264px)';
$lg-layout: 'only screen and (min-width: 992px) and (max-width: 1263px)';
$md-layout:'only screen and (min-width: 768px) and (max-width: 991px)';
$sm-layout:'only screen and (max-width: 767px)';
$large-mobile: 'only screen and (max-width: 599px)';
/* container 450px*/
$small-mobile: 'only screen and (max-width: 479px)';
/* container 300px*/


.flex-lg{
  @media only screen and (min-width: 960px) {
    display: flex;
    flex: 1;
  }
}
.flex-lg-column{
  @media only screen and (min-width: 960px) {
    flex-direction: column;
  }
}
.justify-lg-center{
  @media only screen and (min-width: 960px) {
    justify-content: center;
  }
}

h3 {
  &.heading-title {
    font-size: 26px;

    @media #{$lg-layout} {
      font-size: 23px;
    }

    @media #{$sm-layout} {
      font-size: 20px;
    }
  }
}

@media only screen and (min-width: 575px) {
  .text-justified {
    text-align: justify;
  }
}

h1, h2, h3, h4, h5 {
  hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
}
