/*--------------------
Footer Styles
----------------------*/

.footer-wrapper,.footer-left {
    position: relative;
}

.footer-default {
    .footer-left {
        background: $gradient-color-dark;
        padding: 120px 120px;
        position: relative;
        z-index: 2;
        margin-right: -15px;
        border-top-right-radius: 6px;

        @media #{$lg-layout} {
            padding: 120px 80px;
        }

        @media #{$md-layout} {
            padding: 60px 70px;
        }

        @media only screen and (min-width: 960px) {
          padding: 120px 72px;
        }

        @media #{$sm-layout} {
            padding: 60px 30px;
        }

        @media only screen and (min-width: 960px) and (max-width: 991px) {
          padding: 140px 80px;
        }

        &::after {
          content: url(../images/logo/logo-footer.svg);
          position: absolute;
          z-index: -1;

          right: 20px;
          top: 0;
          width: 83px;
          height: auto;

          @media only screen and (min-width: 425px) {
            right: 20px;
            top: 20%;
            width: 150px;
            height: auto;
          }

          @media only screen and (min-width: 500px) {
            right: 20px;
            top: 0;
            width: 250px;
            height: auto;
          }

          @media only screen and (min-width: 960px) {
            right: 40px;
            top: 35%;
            width: 130px;
            height: auto;
          }

          @media only screen and (min-width: 1200px) {
            right: 20px;
            top: 20%;
            width: 250px;
            height: auto;
          }
        }

        .inner {
            z-index: 5;
            position: relative;

            >span {
                color: $gradient-color-light;
                font-size: 15px;
                text-transform: uppercase;
                display: block;
                margin-bottom: 9px;
            }

            h2 {
                color: $gradient-color-light;
                font-size: 60px;
                font-weight: 800;
                font-family: $heading-font;
                line-height: 75px;

                @media #{$lg-layout} {
                    font-size: 50px;
                    line-height: 61px;
                }

                @media #{$md-layout} {
                  font-size: 42px;
                  line-height: 55px;
                }

                @media #{$sm-layout} {
                    font-size: 35px;
                    line-height: 51px;
                }
            }

            a {
                &.rn-button-style--2 {
                    margin-top: 30px;
                    border-color: $gradient-color-light;
                    color: $gradient-color-light;

                    @media #{$sm-layout} {
                        margin-top: 10px;
                        padding: 10px 23px;
                    }

                    @media #{$large-mobile} {
                        padding: 7px 16px;
                    }

                    &:hover {
                        background: $gradient-color-light;
                        border-color: $gradient-color-light;
                        color: $theme-color;
                    }
                }
            }
        }
    }
    .footer-right {
        padding: 150px 70px;
        padding-bottom: 200px;
        padding-top: 100px;
        width: 100%;
        padding-left: 120px;
        background-color: #edddad;

        @media #{$lg-layout} {
            padding: 119px 21px;
            padding-left: 70px;
            padding-top: 80px;
            padding-bottom: 180px;
        }

        @media #{$md-layout} {
            padding: 60px 70px;
        }

        @media #{$sm-layout} {
            padding: 60px 30px;
        }

        .footer-widget {
            h4 {
                color: #3F3732;
                font-weight: 500;
                margin-bottom: 30px;
                opacity: 0.75;

                @media #{$sm-layout} {
                    margin-bottom: 14px;
                }
            }

            ul {
                &.ft-link {
                    padding: 0;
                    margin: 0;
                    list-style: none;

                    li {
                        a {
                            color: #3F3732;
                            font-size: 16px;
                            @extend %transition;
                            opacity: 0.75;
                        }

                        &:hover {
                            a {
                                color: #eb460a !important;
                                opacity: 1;
                            }
                        }

                        &+li {
                            margin-top: 13px;

                            @media #{$sm-layout} {
                                margin-top: 8px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*---------------------
Footer Style Two
------------------------ */
.footer-style-2 {
    p {
        color: #3F3732;
        font-size: 14px;
        opacity: 0.75;
    }
    img{
        margin: 0 auto;
    }
}

/*-------------------------
    Copyright Style Css
--------------------------*/
.copyright-text {
    position: absolute;
    bottom: -130px;
    padding-right: 30px;

    @media #{$sm-layout} {
        position: static;
        bottom: -20px;
        padding-top: 33px;
    }

    @media #{$md-layout} {
        position: static;
        bottom: 0;
        padding-top: 33px;
    }

    p {
        color: #3F3732;
        font-size: 14px;
        opacity: 0.75;
    }
}
